.result_err {
	background-color: #FCEBEF;
	font-size: 12px;
	border: 1px solid #FF8686;
	color: #A64211;
}
.result_ces {
	background-color: #F9E3D5;
	font-size: 12px;
	border: 1px solid #F7C6A6;
	color: #A64211;
}
.result_err_btn {
	background-color: #FDD9C1;
	border: 1px solid #9E4316;
	letter-spacing: 4px;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
}
.result_ces_btn {
	background-color: #A5CAFC;
	border: 1px solid #D4D0C8;
	letter-spacing: 4px;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
}
/*--------------²Ëµ¥ÑùÊ½-----------------#4F5473#6A5ACD#F08080*/
#top{
/*	padding-top:3px;*/
/*	background: #4F5473 url("../images/bg/bg1.gif");*/
	background:#00ACDD;
	height:45px;
}
.view_menu {
	display: none;
	padding-bottom: 33px;
	margin-bottom: 0px; 
	margin-top: 0px; 
/*	border-bottom: 2px solid #2E345D;*/
 }
 .view_menu li { 		
		float: left; 
		line-height: 28px; 
		height: 32px; 
		padding:0 8px ; 
		margin-top: 7px;
	}
 .view_menu li.view_no_cur {
			background: #7C82B4 url("../images/bg/title_bg1.gif");
			border: 1px solid #2E345D;
			border-bottom: 0;
			margin-right: 3px;
			font-size:12px;		
		}
.view_menu li.view_cur { 
/*			border: 2px solid #2E345D;*/
			margin-right: 3px;
			color:#fff;
/*		    background: #fff url("../images/bg/title_bg2.gif");	    */
			height: 32px; 
	background: #0092BB;
	border-radius: 6px;
		}
.view_menu li.view_no_cur a {
	        color: #fff;
		}
.view_menu li.view_cur a {
	        color:#fff;
	        font-size:14px;
			font-weight:bold;
		}
.view_menu li.view_cur a:hover {
	        color:#fff;
	}
.top_user{
	color: #fff;
	padding-left:0;
	margin-right: 20px;
	line-height: 45px;
	float:right;
}
li { 
	list-style: none;
}
a{
   color:#4F5473;
   text-decoration:none;
}
li a:hover{
   color:#ff6600;
   text-decoration:underline;
}
.top_user a:hover{
	color: #fff;
	text-decoration: underline;
}
.smalltext{
	font-size:13px;	
	line-height:normal;	
}
.manage_title {
			color: #fff;
			font-weight:bold;
			font-size:15px;
			padding:0 10px;
			line-height:45px;
			float:left;
		}